nav {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #310a0a;
} 

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand {
    width: 350px;
    height: 100px;
    margin: 0;
    padding-top: 30px;
    background-color: rgba(124, 6, 6, 0.4);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-link:link
{
   color: #ffffff;
   text-decoration: none;
}

.nav-link:visited
{
   color: #ffffff;
   text-decoration: none;
}
.nav-link:hover
{
    color: #ffffff;
    text-shadow: 0 0 20px #7eda92, 0 0 5px rgb(11, 235, 97);
    text-decoration: none;
}
.nav-link:active
{
   color: #ffffff;
   text-decoration: none;
}



body {
    background: url(./images/backgroundPhoto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    padding-top: 50px;
}

.mainContent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0 20px 30px;
    width: 80%;
}


.sideContent {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50%;
    margin-left: 33px;
    padding: 20px;
    text-align: center;
    color: white;
}

h1, .info, .footer, .nav-link {
    color: white;
}

hr {
    margin: 0 20px 20px 0;
    padding-right: 10px;
    background-color: #673939;
}

.portPhoto {
    float: left;
    width: 25%;
    height: 35%;
    margin-right: 3%;
}

.info {
    float: right;
    margin-right: 3%;
}

.linkPhoto {
    width: 16%;
    margin-right: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(51, 3, 3, 0.4);
}
